*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
body{
    background: linear-gradient(to right, #dad7cd, #a3b18a);

}
h1{
    color: #3a5a40;
}
input{
    padding: 10px 15px 10px 15px;
    text-align: center;
    border-color: #283618;
    border-radius: 15px 25px;
}
h2{
    margin-top: 10px;
    color: #344e41;
}
li{
    color: #283618;
    border: 2px solid #283618;
    margin-top: 15px;
    border-radius: 15px 25px;
    list-style-type: decimal;
    box-shadow: #606c38 0px 3px 8px;
}