.App {
	max-width: 1140px;
	margin: 40px auto;
	padding: 3rem;

	h1,
	p {
		text-align: center;
	}

	form {
		width: 100%;
		margin: 0 auto;
		flex-direction: row;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		gap: 20px;

		&>* {
			font-size: 20px;
		}

		input {

			width: 45%;
			padding: 10px 20px;
			margin: 10px 0;
			flex-grow: 1;


		}

		button {
			color: white;
			background-color: red;
			border: 0;
			padding: 10px 30px;
			cursor: pointer;
			margin-top: 10px;
		}

		select {
			width: 49%;
			height: 40px;
			margin: 10px 0;
			opacity: .7;
			color: black;

		}
	}

	textarea {
		width: 100%;
		resize: none;
		font-size: 20px;
	}

}