.Alert {
	width: 350px;
	background-color: greenyellow;
	display: flex;
	align-items: center;
	padding: 1rem;
	font-weight: 700;
	border-radius: 16px;
	border: 2px solid green;
	position: fixed;
	top: 20px;
	right: -400px;
	opacity: 0;
	transition: 0.3s;
}

.Alert.active {
	animation: anima 1600ms linear 0s 1 both;
}

@keyframes anima {

	20%,90% {
		right: 20px;
		opacity: 1;
	}
	55% {
		scale: 1.1;
		background-color: turquoise;
	}

	100% {
		right: -400px;
		opacity: 0;
	}
}