.wrapper{
	max-width: 1140px;
	margin: 40px auto;
	padding: 1rem;
	border: 2px solid teal;
	form {
		width: 50%;
		margin: 0 auto;
		div {
			input {
				background-color: #9b9a9a;
				width: 100%;
				font-size: 18px;
				margin-top: 14px;
				padding: 16px 12px;
				border-radius: 8px;
				border: 0;

				&[type="submit"] {
					cursor: pointer;
					transition: 0.3s;

					&:hover {
						background-color: green;
						transition: 0.3s;
						transform: translateY(-4px);
					}
				}
			}
			.error {
				color: #ff0204;
				font-size: 14px;
			}
		}
	}
}