body {
    background: linear-gradient(to right, khaki, lightgray);
  }
  .App {
    // padding: 20px;
  
    pre {
      // background-color: #f1f1f1;
      padding: 10px;
      font-family: monospace;
    }
  
    button {
      margin-right: 10px;
      padding: 8px 16px;
      font-size: 14px;
      background-color: darkolivegreen;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  
      &:hover {
        background-color: darkgoldenrod;
      }
    }
  }
  