body{
    background-color: #fff;
}
h1{
    text-align: center;
    margin-top: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: royalblue;

}
Form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 7px;
    align-items: center;
}
#email{
    padding: 10px 15px 10px 15px;
    border-color: royalblue;
}
#password{
    padding: 10px 15px 10px 15px;
    border-color: royalblue;
}

h2{
    text-align: center;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li{
    text-align: center;
    list-style-type: decimal;
}
button{
    background-color: royalblue;
    margin-top: 15px;
    color: #fff;
    border: none;
    font-size: large;
    padding: 15px 20px 15px 20px;
    border-radius: 25px;
}
p{
    text-decoration: underline;
}
.alt-desc{
    text-align: center;
    font-size: small;
}