

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
  }
  
  .flex > div {
    cursor: pointer;
    margin-top: 25px;
    padding: 1rem;
    background-color: rgb(0, 80, 138);
    border-radius: 12px;
    font-weight: 200;
    flex-basis: 24%;
    position: relative;
  }
  
  .flex > div > span {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 14px;
    height: 14px;
    background-color: red;
    border-radius: 50%;
  }
  
  .flex > div span.completed {
    background-color: greenyellow;
  }
  
  .flex > div:active {
    transform: scale(0.99);
    transition: 0.1s;
    box-shadow: inset 0px 2px 2px 1px rgba(221, 221, 221, 0.642);
  }
  
  .flex > div h2 {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 400;
  }
  
  
  